<?xml version="1.0"?>
<!--
  ~ /**
  ~  * Copyright © Elias Kotlyar - All rights reserved.
  ~  * See LICENSE.md bundled with this module for license details.
  ~  */
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Catalog\Block\Adminhtml\Form\Renderer\Fieldset\Element"
                type="FireGento\ScopeHint\Block\AdminhtmlCatalogFormRendererFieldsetElement" />

    <preference for="Magento\Config\Block\System\Config\Form\Field"
                type="FireGento\ScopeHint\Block\AdminhtmlSystemConfigFormField" />

</config>